# Домашнее задание 2 

Необходимо реализовать схему, указанную в hw_diagram.pdf

## Описание таблиц 
PeopleStatus - Описание возможных статусов людей, которые есть в университете (Студент, Преподаватель).
Faculties - Описание факультетов, которые есть в университете (KIB, IT, и т.д.).
People - Информация о людях в университете (Имя, почта, ссылка на факультет, ссылка на статус).
Classes - Описание возможных классов в университете (название (Математический анализ) и ссылка на факультет).
Semesters - Справочник семестров факультета(например, Осень2016, '2016-01-01', '2016-12-31').
ClassesSchedule - Расписание классов (ссылки на семестр, преподавателя и курс, день недели, время начала).
StudentsSchedule - Таблица, описывающая, какой студент ходит на какой курс.

In [2]:
%load_ext sql
%sql sqlite:///chinook.db

'Connected: None@chinook.db'

## Создание таблиц
Напишет ниже скрипты по созданию таблиц с учетом всех внешних ключей.

In [34]:
%%sql
drop table if exists PeopleStatus;
drop table if exists People;
drop table if exists Faculties;
drop table if exists StudentsSchedule;
drop table if exists Classes;
drop table if exists ClassesSchedule;
drop table if exists Semesters;
create table PeopleStatus(
    id int,
    name varchar,
    primary key (id)
);
create table People(
    id int,
    name varchar,
    email varchar,
    fac_id int,
    status_id int,
    primary key (id),
    foreign key(fac_id) references Faculties(id),
    foreign key(status_id) references PeopleStatus(id)
);
create table Faculties(
    id int,
    name varchar,
    primary key (id)
);
create table StudentsSchedule(
    student_id int,
    classesschedule_id int,
    primary key (student_id),
    foreign key(student_id) references People(id),
    foreign key(classesschedule_id) references ClassesSchedule(id)
);
create table Classes(
    id int,
    description varchar,
    fac_id int,
    primary key (id),
    foreign key(fac_id) references Faculties(id)
);
create table ClassesSchedule(
    id int,
    class_id int,
    teacher_id int,
    semester_id int,
    week_day int,
    time_start varchar,
    primary key (id),
    foreign key(semester_id) references Semesters(id),
    foreign key(class_id) references Classes(id),
    foreign key(teacher_id) references People(id)
);
create table Semesters(
    id int,
    shortname varchar,
    date_start date,
    date_end date,
    primary key (id)
);

1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

## Добавление записей в таблицы
Приведите примеры добавления записей в каждую из таблиц

In [35]:
%%sql
insert into PeopleStatus(id, name) values(1, 'Teacher');
insert into People(id, name, email, fac_id) values (42, 'Bob', 'bobby@ya.jp', 3);
insert into Faculties(id,name) values (3,'Thamhcem');
insert into StudentsSchedule(student_id, classesschedule_id) values (42, 1);
insert into Classes(id, description, fac_id) values (1, 'That stuff', 3);
insert into ClassesSchedule(id, class_id, week_day, time_start) values (1, 1, 'Sat','Sept');
insert into Semesters(shortname, date_start) values ('Stuffy', '00-00-00')

1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]